* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ccc;
}

header{
    background-color: #1e242c;
    color: white;
    padding: 10px 0;
}
.flex {display: flex;}

.center{
    max-width: 1920px;
    min-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;}

/**/

.logo img{
    width: 120px;
    transform: translateY(7px);
    cursor:pointer;
}

/**/

.text-header{
    font-size: 12px;
    padding: 5px 20px;
    margin: 0px 8px;
}

.text-header p{
    white-space: nowrap;
    font-size: 15px;
}

.text-header span{
    font-size: 12px;
    padding:0 15px;
}

.text-info-login span{
    white-space: nowrap;
    font-size: 11px;
    
}
.text-info-login b{
    font-size: 15px;
}

.text-info-orders span{
    white-space: nowrap;
    font-size: 11px;
}

.text-info-shop{
    width: auto;
    height: 30px;
    transform: translateY(7px);
    
}

.text-header:hover, 
.text-info-login:hover, 
.text-info-orders:hover,
.text-info-shop:hover {
    border-radius: 3px;
    outline: 0.5px solid whitesmoke;
    cursor: pointer;
}

.text-info-shop p{
    padding:5px 8px;
    white-space: nowrap;
}

/**/

.search{
    transform:translateY(5px);
    width: 30%;
}

.search input{
    width: 100%;
    display: flex;
    border: #ccc;
}

.search input [type=text]{
    width: calc(100%-40px);
    height: 40px;
}

.search select{
    width: 15%;
    display: flex;
    border: #fff;
    border-radius: 5px 0px 0px 5px;
    background-color: #ccc;

}

.search button{
    width: 40px;
    border: 0;
    height: 38px;
    border-radius: 0 5px 5px 0;
    background-color: #febd68;
}

.search form{
    display: flex;
    width: 100%;

}
/**/


/**/

.boxes {
    min-height: 650px;
    width: 100%;
    background-image: url(https://m.media-amazon.com/images/I/61rJbJmXkgL._SX3000_.jpg), linear-gradient(#1010 ,#ccc);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 8px 0px;
    text-align: center;
    overflow: auto;
 
    
}

.boxes img{
    width: 100%;
    height: auto;

}
.box1{
    width: 23%;
    background-color: white;
    padding: 8px 12px;
}
.box2{
    width: 23%;
    background-color: white;
    padding: 8px 12px;
}
.box3{
    width: 23%;
    background-color: white;
    padding: 8px 12px;
}
.box4{
    width: 23%;
    background-color: white;
    padding: 8px 12px;
}
